.footer {
  padding-top: 48px;
  padding-bottom: 80px;

  background-color: #222;
  color: #cacaca;
}

.footer__left,
.footer__center,
.footer__text {
  width: calc(100%/3);
}

.footer--container {
  display: flex;
}

/* footer__left */
.footer__list {
  margin-top: 1px;
  margin-bottom: 105px;

  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer__list-link:hover,
.footer__list-link:focus {
  color: #fff;
}

.social__list {
  display: flex;
}

.social__list-item {
  width: 61px;
  height: 61px;
}

.social__list-item + .social__list-item {
  margin-left: 25px;
}

.social__icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
}

/* .social__icon:hover path,
.social__icon:focus path {
  fill: #cacaca;
} */

.social__icon--facebook {
  background-image: url('../image/icons.svg');
  background-position: 0 0;
  width: 61px;
  height: 61px;
}

.social__icon--facebook:hover,
.social__icon--facebook:focus {
  background-position: 0 -61px;
}

.social__icon--vk {
  background-image: url('../image/icons.svg');
  background-position: 0 -122px;
}

.social__icon--vk:hover,
.social__icon--vk:focus {
  background-position: 0 -182px;
}

.social__icon--insta {
  background-image: url('../image/icons.svg');
  background-position: 0 -242px;
}

.social__icon--insta:hover,
.social__icon--insta:focus {
  background-position: 0 -302px;
}

/* footer__center */
.footer__center {
  margin-top: 10px;
  margin-left: 15px;
}

.footer__center fieldset {
  padding: 0;
}

.footer__title {
  margin-bottom: 23px;

  font-size: 48px;
  line-height: 59px;
}

.footer__input {
  width: 100%;
  max-width: 570px;
  min-height: 60px;
  padding-left: 25px;
  padding-right: 25px;

  border: none;
  background: #414141;
}

.footer__input::placeholder {
  color: #cacaca;
}

.footer__input:not(:last-child) {
  margin-bottom: 25px;
}

textarea.footer__input {
  max-height: 150px;
  margin-bottom: 19px !important;
  padding-top: 15px;

  resize: none;
}

.footer__text {
  margin-top: 80px;
  padding-left: 225px;
}

.footer__btn {
  padding: 19px 52px;

  font-weight: 700;
  line-height: 20px;
  color: #fff;

  background-color: #FF9900;
  border: 1px solid #FF9900;
  cursor: pointer;
}

.footer__btn:hover,
.footer__btn:focus {
  color: #FF9900;
  background: transparent;
}

.footer__check {
  display: none;
  position: absolute;
  appearance: none;
}

.footer__check-label {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  padding-left: 20px;
  cursor: pointer;
}

.footer__check-label:before {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;

  top: 50%;
  left: 0;
  z-index: 1;

  transform: translateY(-50%);
}

.footer__check-label:after {
  content: '';
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  background: url('../image/check.svg') no-repeat;
  background-size: 14px 14px;
  opacity: 0;

  top: 50%;
  left: 0;
  z-index: 2;

  transform: translateY(-50%);
}

.footer__check:checked + .footer__check-label:after {
  opacity: 1;
}

@media (max-width: 1736px) {
  .footer__text {
    padding-left: 100px;
  }

  .footer__check-label {
    margin-left: 0px;
    padding-left: 17px;
  }
}

@media (max-width: 1366px) {
  .container--footer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__center {
    width: 50%;
  }

  .footer__check-label {
    padding-left: 14px;
  }

  .footer__text {
    display: block;
    width: calc(100%/3);
    padding-left: 30px;
  }
}

@media (max-width: 1199px) {
  .footer__text {
    display: none;
  }
}

@media (max-width: 1024px) {
  .footer__left{
    min-width: 255px;
  }

  .footer__center {
    width: 80.5%;
    margin-right: 0px;
  }

  .footer__btn {
    padding-left: 37px;
    padding-right: 37px;
  }

  .footer__check-label {
    margin-left: 5px;
    padding-left: 16px;
  }
}

@media (max-width: 900px) {
  .footer--container {
    flex-wrap: wrap-reverse;
  }

  .footer__center {
    margin-left: 0;
    margin-bottom: 58px;
  }

  .footer__list {
    display: none;
  }

  .logo__footer {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .footer__center {
    width: 100%;
  }

  .footer__title {
    font-size: 35px;
  }

  .footer__input {
    min-width: 400px;
    margin-left: 0px;
  }

  .footer__btn {
    margin-left: 0;
  }
}

@media (max-width: 440px) {
  .footer {
    padding-top: 39px;
    padding-bottom: 40px;
  }

  .footer__left {
    width: 45%;
    min-width: inherit;
    margin: 0 auto;
  }

  .footer__center {
    margin-bottom: 24px;
    border-bottom: 1px solid #595959;
    padding-bottom: 25px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 29px;
  }

  .footer__input {
    min-width: 290px;
  }

  .footer__btn {
    display: block;
    margin: 0 auto 10px;
    padding: 12px 27px;

    font-size: 12px;
    line-height: 15px;
  }

  .footer_check-label {
    margin-left: 5px;
  }

  .logo__footer {
    margin-bottom: 15px;
  }

  .social__list-item {
    width: 35px;
    height: 35px;
  }

  .social__list-item + .social__list-item {
    margin-left: 14px;
  }

  .social__icon {
    width: 35px;
    height: 35px;
  }

  .social__icon--facebook {
    background-image: url('../image/sm_icons.png');
    background-position: 0 0;
  }

  .social__icon--facebook:hover,
  .social__icon--facebook:focus {
    background-position: 0 -35px;
  }

  .social__icon--vk {
    background-image: url('../image/sm_icons.png');
    background-position: 0 -70px;
  }

  .social__icon--vk:hover,
  .social__icon--vk:focus {
    background-position: 0 -105px;
  }

  .social__icon--insta {
    background-image: url('../image/sm_icons.png');
    background-position: 0 -140px;
  }

  .social__icon--insta:hover,
  .social__icon--insta:focus {
    background-position: 0 -175px;
  }
}
