.section__questions {
  margin-top: 100px;
}

.questions__list {
  margin-top: 38px;
  margin-bottom: 100px;
}

.questions__list-item {
  position: relative;

  font-weight: 700;
  font-size: 24px;
  line-height: 50px;

  border-bottom: 1px solid #CACACA;
}

.questions__list-item-btn {
  display: block;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 47px;

  text-align: left;
}

.questions__list-item-btn:hover,
.questions__list-item-btn:focus {
  color: #FF9900;
}

.questions__list-item:first-child {
  border-top: 1px solid #CACACA;
}

.questions__list-item::after {
  content: '';
  display: block;
  position: absolute;
  margin-left: auto;
  width: 50px;
  height: 50px;
  background: url('../image/Rectangle\ 12\ \(Stroke\).svg') no-repeat center #ECECEC;
  border-radius: 50%;

  text-align: center;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;

  transform: translateY(-50%);
}

.questions__list-item:hover::after {
  background-color: #D2D2D2;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .questions__list-item-btn {
    padding-right: 50px;
    font-size: 20px;
  }

}

@media (max-width: 768px) {
  .section__questions {
    margin-top: 58px;
    letter-spacing: 0.2px;
    margin-right: -10px;
  }

  .questions__list-item-btn {
    padding-right: 90px;
  }
}

@media (max-width: 640px) {
  .section__questions {
    margin-top: 39px;

    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .questions__list-item {
    font-weight: 500;
  }
}

@media (max-width: 440px) {
  .section__questions  {
    font-size: 24px;
    line-height: 29px;
  }

  .questions__list {
    margin-top: 15px;
    margin-bottom: 39px;
  }

  .questions__list-item-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 67px;

    font-size: 14px;
    line-height: 14px;
  }

  .questions__list-item::after {
    width: 30px;
    height: 30px;

    background: url('../image/Rectangle\ sm.svg') no-repeat center #ECECEC;
  }
}
