.section__questions {
  margin-top: 100px;
}

.questions__list {
  margin-top: 38px;
  margin-bottom: 100px;
}

.questions__list-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;

  border-bottom: 1px solid #CACACA;
}

.questions__list-item-btn {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 47px;

  text-align: left;
}

.questions__list-item-icon {
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 0;
  transform:translateY(-45%);
  background-color: #ececec;
  border-radius: 100%;
  width: 50px;
  height: 50px;

  font-size: 0;
}

.questions__list-item:focus,
.questions__list-item-btn:hover,
.questions__list-item-btn:focus {
  color: #FF9900;
}

.questions__list-item:first-child {
  border-top: 1px solid #CACACA;
}

.questions__list-item-icon::after,
.questions__list-item-icon::before {
  content: '';
  position: absolute;
  background: #333;
  margin-left: auto;
  top: 50%;
  transform:translateY(-50%);

  transition: transform .2s linear;
}

.questions__list-item-icon::after {
  width: 31px;
  height: 1px;

  right: 9px;
}

.questions__list-item-icon::before {
  width: 1px;
  height: 31px;

  right: 24px;
}

.questions__list-item-btn:hover .questions__list-item-icon {
  background-color: #d2d2d2;
  cursor: pointer;
}

.questions__list-item-text {
  max-width: 1005px;

  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.questions__list-item-text > p {
  margin-bottom: 40px;
}

.questions__list-item-btn.actives .questions__list-item-icon::before {
  transform: rotate(45deg) translate(-6px, -6px);
}

.questions__list-item-btn.actives .questions__list-item-icon::after {
  transform: rotate(45deg) translateX(0px);
}

@media (max-width: 1199px) {
  .questions__list-item-btn {
    padding-right: 45px;
  }
}

@media (max-width: 1024px) {
  .questions__list-item-btn {
    padding-right: 50px;
    font-size: 20px;
  }

  .questions__list-item-text {
    margin-right: 50px;

    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section__questions {
    margin-top: 58px;
    letter-spacing: 0.2px;
    margin-right: -10px;
  }

  .questions__list-item-btn {
    padding-right: 90px;
  }
}

@media (max-width: 640px) {
  .section__questions {
    margin-top: 39px;

    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .questions__list-item {
    font-weight: 500;
  }
}

@media (max-width: 440px) {
  .section__questions  {
    font-size: 24px;
    line-height: 29px;
  }

  .questions__list {
    margin-top: 15px;
    margin-bottom: 39px;
  }

  .questions__list-item-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 67px;

    font-size: 14px;
    line-height: 14px;
  }

  .questions__list-item-icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    background-color: #ececec;
    border-radius: 100%;
    width: 30px;
    height: 30px;

    font-size: 0;
  }

  .questions__list-item-icon:hover {
    background-color: #d2d2d2;
  }

  .questions__list-item-icon::after {
    width: 18.6px;

    right: 5.4px;
  }

  .questions__list-item-icon::before {
    height: 18.6px;

    right: 14.2px;
  }

  .questions__list-item-text {
    margin-right: 30px;
    margin-bottom: 20px;

    font-size: 12px;
  }
}
