.section__questions {
  margin-top: 100px;
}

.questions__list {
  margin-top: 38px;
  margin-bottom: 100px;
}

.questions__list-item {
  font-weight: 700;
  font-size: 24px;
  line-height: 50px;

  border-bottom: 1px solid #CACACA;
}

.questions__list-item-btn {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 47px;

  text-align: left;
}

.questions__list-item-icon {
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 0;
  transform:translateY(-45%);
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25.0987' cy='25' rx='24.9013' ry='25' fill='%23ECECEC'/%3E%3C/svg%3E%0A") no-repeat right center;
  width: 50px;
  height: 50px;

  font-size: 0;
}

/* .plus {
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25.0987' cy='25' rx='24.9013' ry='25' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.1556 24.0571L25.1556 9L26.0378 9L26.0378 24.0571L33.9471 24.0571L41.0355 24.0571L41.0355 24.9429L26.0378 24.9429L26.0378 40L25.1556 40L25.1556 24.9429L10.1579 24.9429L10.1579 24.0571L25.1556 24.0571Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat right center;
  position: absolute;
  display: inline-block;
  top: 45%;
  right: 0;
  transform:translateY(-45%);
  width: 50px;
  height: 50px;
}

.minus {
  background: url("data:image/svg+xml,%3Csvg width='71' height='72' viewBox='0 0 71 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='35.3555' cy='35.9999' r='25' transform='rotate(45 35.3555 35.9999)' fill='%23ECECEC'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M36.0626 35.3735L46.7096 24.7265L47.3359 25.3527L36.6889 35.9998L42.3038 41.6147L47.3359 46.6468L46.7096 47.2731L36.0626 36.626L25.4156 47.2731L24.7893 46.6468L35.4363 35.9998L24.7893 25.3527L25.4156 24.7265L36.0626 35.3735Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat right center;
  position: absolute;
  display: inline-block;
  top: 45%;
  right: -11px;
  transform:translateY(-45%);
  width: 71px;
  height: 71px;
} */

.questions__list-item-btn:hover,
.questions__list-item-btn:focus {
  color: #FF9900;
}

.questions__list-item:first-child {
  border-top: 1px solid #CACACA;
}

.questions__list-item-icon::after,
.questions__list-item-icon::before {
  content: '';
  position: absolute;
  background: #333;
  margin-left: auto;
  top: 50%;
  transform:translateY(-50%);

  transition: transform .2s linear;
}

.questions__list-item-icon::after {
  width: 31px;
  height: 1px;

  right: 9px;
}

.questions__list-item-icon::before {
  width: 1px;
  height: 31px;

  right: 24px;
}

.questions__list-item-btn:hover .questions__list-item-icon {
  background: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='25.0987' cy='25' rx='24.9013' ry='25' fill='%23D2D2D2'/%3E%3C/svg%3E%0A") no-repeat right center;
  cursor: pointer;
}

.questions__list-item-text {
  max-width: 1005px;

  font-size: 16px;
  line-height: 2;
  font-weight: 400;
}

.questions__list-item-text > p {
  margin-bottom: 40px;
}

.questions__list-item-btn.actives .questions__list-item-icon::before {
  transform: rotate(45deg) translate(-10px, -10px);
}

.questions__list-item-btn.actives .questions__list-item-icon::after {
  transform: rotate(45deg) translateX(1px);
}

@media (max-width: 1199px) {
  .questions__list-item-btn {
    padding-right: 45px;
  }
}

@media (max-width: 1024px) {
  .questions__list-item-btn {
    padding-right: 50px;
    font-size: 20px;
  }

  .questions__list-item-text {
    margin-right: 50px;

    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .section__questions {
    margin-top: 58px;
    letter-spacing: 0.2px;
    margin-right: -10px;
  }

  .questions__list-item-btn {
    padding-right: 90px;
  }
}

@media (max-width: 640px) {
  .section__questions {
    margin-top: 39px;

    font-size: 35px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .questions__list-item {
    font-weight: 500;
  }
}

@media (max-width: 440px) {
  .section__questions  {
    font-size: 24px;
    line-height: 29px;
  }

  .questions__list {
    margin-top: 15px;
    margin-bottom: 39px;
  }

  .questions__list-item-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 67px;

    font-size: 14px;
    line-height: 14px;
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23ECECEC'/%3E%3C/svg%3E%0A") no-repeat right center;
  }

  .questions__list-item-btn:hover {
    background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='15' fill='%23D2D2D2'/%3E%3C/svg%3E%0A") no-repeat right center;
  }

  .questions__list-item-btn::after {
    width: 18.6px;

    right: 5.4px;
  }

  .questions__list-item-btn::before {
    height: 18.6px;

    right: 14.2px;
  }

  .questions__list-item-text {
    margin-right: 30px;
    margin-bottom: 20px;

    font-size: 12px;
  }
}
