.form {
  max-height: 310px;
  padding: 21px 30px 29px;
  margin-bottom: 20px;

  background-color: #fff;
  border-radius: 10px;
}

.form legend {
  font-size: 18px;
  font-weight: 600;
  line-height: 24.51px;

  margin-bottom: 20px;
}

.form__check {
  display: flex;
  flex-direction: column;

  padding: 0;
  border: none;
}

.check {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.check:not(:last-child) {
  margin-bottom: 20px;
}

.check__input {
  opacity: 0;
  position: absolute;
  appearance: none;
}

.check:before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #999;

  top: 50%;
  left: 0;
  z-index: 1;

  border-radius: 3px;
  transform: translateY(-50%);
}

.check:after {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background: url('../img/Rectangle.svg') no-repeat;
  background-size: 15px 12px;
  opacity: 0;

  top: 50%;
  left: 1%;
  z-index: 2;

  transform: translateY(-50%);
}

.check__input:focus + .check:before,
.check__input:hover + .check:before,
.check__input:checked + .check:before {
  border-color: #CCB26E;
}

.check__input:checked + .check:after {
  opacity: 1;
}
