* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  color: #333;

  background: #E5E5E5;
}

.container {
  max-width: 2550px;
  padding: 70px 36px 110px 92px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
