@import '_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: san-serif;
}

img {
  max-width: 100%;
}

.container {
  padding: 50px 0;
  max-width: $containerMaxwidth;
  margin: 0 auto;
}

